@import "tailwindcss";

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }

  input[type='number'] {
    @apply [appearance:textfield];
  }
}


@theme {
    --font-1: "Raleway", sans-serif;
}
@theme {
    --font-2: "Quicksand", sans-serif;
}
@theme {
    --font-3: "Inter", sans-serif;
}
